@{
    ViewBag.HistorySelected = "active";
}

<div class="span9">
    <div class="hero-unit">
        <h1>History</h1>
        <br />
        On February 4, 1981, the Birmingham Large Users Group, Inc. (hereafter referred
        to as BLUG) requested that a representative from each member company be selected
        and that they meet on a regular basis to organize and schedule classes locally in
        an environment that would be beneficial to the BLUG member companies.
    
        <p>
            On February 11, 1981, the Education Committee met for the first time.
        </p>
        <p>
            The charter members were:
            <ul>
                <li>Kathy Merrill, AmSouth </li>
                <li>Darlene Thompson, BellSouth </li>
                <li>Eddie Thomas, Blue Cross </li>
                <li>Delana Williams, Central Bank/Compass </li>
                <li>Bob Evans, Dyatron </li>
                <li>Tom DeWine, J.W.C.S. </li>
                <li>Ronnie Muro, Liberty National </li>
                <li>Dennis Yancey, SouthTrust </li>
            </ul>
            The BLUG current membership roster can be found here.
        </p>
    </div>
</div>
