@{
    ViewBag.Title = "Home Page";
}
<div class="span9">
    <div class="hero-unit">
        <h1>Welcome!</h1>
        <p>
            @ViewBag.Message <br />
            Please browse our current training schedule and membership 
            information to find out more about cooperative training 
            provided by the BLUG member companies. Click on About Us to learn 
            more about how BLUG was created, and click on Contact Us for 
            information on how to correspond with us or leave us feedback.
        </p>
        <p>
            <a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
    @*<div class="row-fluid">
        <div class="span4">
            <h2>
                Heading</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <!--/span-->
        <div class="span4">
            <h2>
                Heading</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <!--/span-->
        <div class="span4">
            <h2>
                Heading</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <!--/span-->
    </div>*@
    @*<!--/row-->
    <div class="row-fluid">
        <div class="span4">
            <h2>
                Heading</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
        </div>
        <!--/span-->
        <div class="span4">
            <h2>
                Heading</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <!--/span-->
        <div class="span4">
            <h2>
                Heading</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <!--/span-->
    </div>
    <!--/row-->*@
</div>
<!--/span-->
